.contact {
  padding-block: var(--section-padding);
  text-align: center;
  position: relative;
}

.contact .section-title {
  font-size: var(--fs-2);
  margin-bottom: 15px;
}

.contact .section-text {
  font-size: var(--fs-5);
  margin-bottom: 20px;
}

.contact .btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
}

@media (max-width: 480px) {
  .contact .section-title {
    font-size: 2rem;
    padding-inline: 10px;
  }

  .contact .section-text {
    font-size: 1.5rem;
    padding-inline: 10px;
  }
}
